.container {
  height: 100vh;
  width: 100vw;
}

.card-list {
  display: flex;
  padding: 3rem;

  @media screen and (max-width: 768px){
    flex-direction: column;
    align-items: center;
  }
}

.card {
  transition: .3s;
  transform-origin: 0% 100%;

  @media screen and (min-width: 768px) {
    &:hover {
      transform: translateY(-1rem) rotate(-3deg);

      // Selects all '.card' siblings except the current, prev cards
      & ~ .card {
        transform: translateX(100px);
      }
    }

    &:not(:first-child) {
      margin-left: -100px;
    }
  }

  @media screen and (max-width: 768px){
    &:hover {
      transform: translateY(-1rem) rotate(3deg);

      // Selects all '.card' siblings except the current, prev cards
      &~.card {
        transform: translateY(100px);
      }
    }

    &:not(:first-child) {
      margin-top: -100px;
    }
  }
}

