<div class="container">
  <div class="card">
    <div class="content">
  <!--       [ngStyle]="{backgroundImage : 'url(../../../assets/diagrams/' + sign.signName.toLowerCase()+ '.svg)'}">-->
      <h1>{{sign.signName}}</h1>
      <p>{{sorrowscope}}</p>
      <div class="button" (click)="loadNewSorrowscope()">refresh</div>
    </div>
    <div class="diagram"><img src="assets/diagrams/{{sign.signName.toLowerCase()}}.svg" alt="Illustration of zodiac sign, {{
   sign.signName }}"></div>
    <div class="sign"><img src="assets/signs/{{sign.signName.toLowerCase()}}.svg" alt="Illustration of zodiac sign, {{
   sign.signName }}"></div>
    <div class="sign top"><img src="assets/signs/{{sign.signName.toLowerCase()}}.svg" alt="Illustration of zodiac sign, {{
   sign.signName }}"></div>

  </div>
</div>
