@import url('https://fonts.googleapis.com/css2?family=Cardo:ital,wght@0,400;0,700;1,400&family=Pathway+Gothic+One&display=swap');* {
  box-sizing: border-box;
  margin: 0;
}

body {
  padding: 0;
  margin: 0;
  background-color: #17141d;
  color: white;
  //font-family: 'Cardo', serif;
  font-family: 'Pathway Gothic One', sans-serif;
}

main {
  position: relative;
}
